# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

# mstest test results
TestResults