<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="Linq2SqlConnectionString" 
			 connectionString="Data Source=BESNIK\SQLEXPRESS;Initial Catalog=Besnik.GenericRepository.LinqToSql;Integrated Security=True" 
		/>
		<add name="EntityFrameworkConnectionString"
			 connectionString="Data Source=BESNIK\SQLEXPRESS;Initial Catalog=Besnik.GenericRepository.EntityFramework;Integrated Security=True"	
		/>
	</connectionStrings>
</configuration>